/*body {
    background-color: black;
}*/
main {
    margin: 20px;

    text-align: center;
}
.oculto {
    display: none;
}
#contrasegnaGenerada {
    font-style: italic;
}
body {
  /* Fallback for browsers that don't support dvh */
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

footer {
    /*position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;*/
    background-color: rgb(32, 32, 32);
    color: rgb(224, 224, 224);
    padding: 5px;
    text-align: center;
  margin-top: auto;
}
button, input {
    margin-bottom: 5px;
}
.cajaError {
    text-align: left;
}